{% if settings.show_breadcrumbs %}

{% unless template.name == 'index' or template.name == 'cart' %}
  <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
    {% comment %} <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a> {% endcomment %}

    {% if template.name == 'product' %}

      {% if collection %}
        {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}
        {% if collection.handle %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
        {% endif %}
        <span class="divider" aria-hidden="true">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
        </span>
        {% comment %} <span>{{ product.title }}</span> {% endcomment %}
      {% endif %}
      

    {% elsif template.name == 'collection' and collection.handle %}

      {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}

      {% if current_tags %}

        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}

        <span class="divider" aria-hidden="true">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
        </span>

        {% for tag in current_tags %}
          {%- include 'filter-out-custom-tags' -%}

          {%- assign tag_name = tag | strip -%}
          {%- assign tag_text = tag_name | capitalize -%}
          <span>{{ tag_text }}</span>

          {% unless forloop.last %}
            <span>+</span>
          {% endunless %}

        {% endfor %}
      {% endif %}

    {% elsif template.name == 'blog' %}

      {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span class="divider" aria-hidden="true" style="color: #000000;">
          <svg aria-hidden="true" focusable="false" role="presentation" style="width: 18px;height: 9px;" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
        </span>
        <span>{{ current_tags | join: " + " }}</span>
      {% endif %}

    {% elsif template.name == 'article' %}

      {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}
      {{ blog.title | link_to: blog.url }}
      <span class="divider" aria-hidden="true">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"/></svg>
      </span>

    {% elsif template.name == 'page' %}

      {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}
      {% comment %} <span>{{ page_title }}</span> {% endcomment %}

    {% else %}

      {% comment %} <span class="divider" aria-hidden="true">/</span> {% endcomment %}
      {% comment %} <span>{{ page_title }}</span> {% endcomment %}
 
    {% endif %}
  </nav>
{% endunless %}

{% endif %}
