<div id="cookieModal" class="modal modal--square cookie-modal">
  <div class="modal__inner">
    <div class="modal__centered page-width text-center modal-1">
      <div class="modal__centered-content"> 
        <div class="modal-logo">
            <img
              src="{{ 'logo.png' | asset_url }}"
              alt="{{ default: shop.name }}">
        </div>
        <h2>Cookie-Einstellungen</h2>
        <div class="modal__centered-text text-justify"> 
          <p>Wir verwenden Cookies, um Ihnen den bestmöglichen Service zu bieten. Dazu zählen Cookies, die für den Betrieb der Seite, zu anonymen Statistikzwecken oder zur Anzeige von personalisierten Inhalten genutzt werden. Wenn Sie auf „Ich stimme zu“ klicken, erklären Sie sich damit einverstanden und bestätigen, dass Sie über 16 Jahre alt sind. Unter „Mehr Informationen“ können Sie selbst entscheiden, welche Kategorien Sie zulassen möchten. Ihre Cookie-Einstellungen können Sie jederzeit ändern oder Ihre Zustimmung mit Wirkung für die Zukunft widerrufen.</p>
        </div>
        <span class="text-center">
          <a href="https://www.uptodate.de/policies/legal-notice" target="_blank">Impressum</a> | 
          <a href="https://www.uptodate.de/policies/privacy-policy" target="_blank">Datenschutz</a>
        </span>
      </div>
      <div class="modal-btn-list">
        <div class="btn-accept-wrapper">
          <button aria-label="I agree" id="btn-accept-cookie" class="modal-btn btn-accept">
            Ich stimme zu
          </button>
        </div>
        <div class="btn-deny-wrapper">
          <button aria-label="I refuse" id="btn-deny-cookie" class="modal-btn btn-deny">
            Ich lehne ab
          </button>
        </div>
        <div class="btn-more-info-wrapper">
          <button aria-label="More information" id="btn-more-info-cookie" class="modal-btn btn-more">
            Mehr Informationen
          </button>
        </div>
      </div>
    </div>
    <div class="modal__centered page-width text-center modal-2">
      <div class="modal__centered-content"> 
        <button type="button" class="modal__close">
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
          <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
        </button>
        <h2>Persönliche Cookie-Einstellung</h2>
        <div class="modal__centered-text text-justify"> 
          <p>Wir verwenden Cookies, um Ihnen den bestmöglichen Service zu bieten. Sie können selbst entscheiden, welche Cookies Sie zulassen möchten. Ihre Einstellungen können Sie jederzeit ändern oder Ihre Zustimmung mit Wirkung für die Zukunft widerrufen.</p>
        </div>
      </div>
      <div class="modal__checkbox-content"> 
        <div class="titles">
          <h3 class="selected">Einstellungen</h3>
        </div>
        <div class="checkbox-wrapper">
          <div class="checkbox-row alles-row">
            <span>Alles auswählen</span>
            <input class="input-checkbox" type="checkbox" id="alles" value="alles">
          </div>
          <div class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height" aria-controls="statistics-expand" aria-expanded="false">
            <div class="checkbox-row">
              {% include 'collapsible-icons' %}
              <span>Statistik</span>
              <input class="input-checkbox" type="checkbox" id="statistics" value="statistics">
            </div>
          </div>
          <div id="statistics-expand" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <div class="checkbox-row subrow">
                <span>Google Analytics</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_googleAnalytics" name="statistics" value="googleAnalytics">
              </div>
              <div class="checkbox-row subrow">
                <span>Mouseflow</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_mouseflow" name="statistics" value="mouseflow">
              </div>
            </div>  
          </div>
          <div class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height" aria-controls="marketing-expand" aria-expanded="false">
            <div class="checkbox-row">
              {% include 'collapsible-icons' %}
              <span>Marketing</span>
              <input class="input-checkbox" type="checkbox" id="marketing" value="marketing">
            </div>
          </div>
          <div id="marketing-expand" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <div class="checkbox-row subrow">
                <span>Google AdWords Conversion</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_googleAdWordsConversion" name="marketing" value="googleAdWordsConversion">
              </div>
              <div class="checkbox-row subrow">
                <span>Google AdWords Remarketing</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_googleAdWordsRemarketing" name="marketing" value="googleAdWordsRemarketing">
              </div>
            </div>
          </div>
          <div class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height" aria-controls="social-expand" aria-expanded="false">
            <div class="checkbox-row">
              {% include 'collapsible-icons' %}
              <span>Social</span>
              <input class="input-checkbox" type="checkbox" id="social" value="social">
            </div>
          </div>
          <div id="social-expand" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <div class="checkbox-row subrow">
                <span>Facebook</span>
                <input  class="input-checkbox set-in-cookie" type="checkbox" id="cc_facebook" name="social" value="facebook">
              </div>
              <div class="checkbox-row subrow">
                <span>Pinterest</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_pinterest" name="social" value="pinterest">
              </div>
            </div>  
          </div>
          <div class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height" aria-controls="funktional-expand" aria-expanded="false">
            <div class="checkbox-row">
              {% include 'collapsible-icons' %}
              <span>Funktional</span>
              <input class="input-checkbox" type="checkbox" id="funktional" value="funktional">
            </div>
          </div>
          <div id="funktional-expand" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <div class="checkbox-row subrow">
                <span>Shopify</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_shopify" name="funktional" value="shopify">
              </div>
              <div class="checkbox-row subrow">
                <span>Google Optimize</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_googleOptimize" name="funktional" value="googleOptimize">
              </div>
              <div class="checkbox-row subrow">
                <span>Google Tag Manager</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_googleTagManager" name="funktional" value="googleTagManager">
              </div>
              <div class="checkbox-row subrow">
                <span>Zendesk</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_zendesk" name="funktional" value="zendesk">
              </div>
            </div>  
          </div>
          <div class="collapsible-trigger collapsible-trigger-btn collapsible--auto-height" aria-controls="display-expand" aria-expanded="false">
            <div class="checkbox-row">
              {% include 'collapsible-icons' %}
              <span>Display</span>
              <input class="input-checkbox" type="checkbox" id="display" value="display">
            </div>
          </div>
          <div id="display-expand" class="collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <div class="checkbox-row subrow">
                <span>Quantcast</span>
                <input class="input-checkbox set-in-cookie" type="checkbox" id="cc_quantcast" name="display" value="quantcast">
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="modal-btn-list bg-grey">
        <div class="btn-save-cookie-wrapper">
          <button aria-label="I agree" id="btn-save-cookie" class="modal-btn btn-save-cookie">
              Einstellungen speichern
          </button>
        </div>
      </div>
    </div>
  </div>
</div>