  <div class="ais-facets">
      <div class="ais-clear-refinements-container"></div>
      <div class="ais-current-refined-values-container"></div>
    [[# facets ]]
      <div class="ais-facet-[[ type ]] ais-facet-[[ escapedName ]]">
        <div class="ais-range-slider--header ais-facet--header ais-header">[[ title ]]</div>
        <div class="ais-facet-[[ escapedName ]]-container"></div>
      </div>
    [[/ facets ]]
  </div>