{% if linklists[block.settings.menu].links.size > 0 %}
{%- assign is_open = false -%}
  {% if block.settings.show_footer_title %}
    {%- if linklists[block.settings.menu].title contains 'Sonstiges' -%}
		{%- assign is_open = true -%}
	{%- endif -%}
    <p class="h4 footer__title small--hide">
      {{ linklists[block.settings.menu].title }}
    </p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide{% if is_open %} is-open{% endif %}" aria-controls="Footer-{{ block.id }}"{% if is_open %} aria-expanded="true"{% endif %}>
      {{ linklists[block.settings.menu].title }}
      {% include 'collapsible-icons' %}
    </button>
  {% endif %}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small{% if is_open %} is-open{% endif %}" {% if is_open %} style="height: auto;"{% endif %}
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist">
          {% for link in linklists[block.settings.menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}
