{% if shop.permanent_domain == 'uptodatenew.myshopify.com' %}
  <script src="https://shopifyorderlimits.s3.amazonaws.com/limits/uptodatenew.myshopify.com?v=53i&r=20200211170154&shop=uptodatenew.myshopify.com"></script>
{% endif %}
