<!-- Begin Mailchimp Signup Form -->
<div class="newsletter">

  <style>
    .email-input-placeholder {
      width: 300px;
    }
  </style>
  <div>
    <form action="https://uptodate.us4.list-manage.com/subscribe/post?u=15b63928e05c3ce293c903851&amp;id=cf83a03ce8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
            <input type="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" value="" name="EMAIL" class="required email newsletter-input email-input-placeholder" id="mce-EMAIL">
            <input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" class="button mailchimpsubmit newsletter-submit">
        </div>

          <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_15b63928e05c3ce293c903851_cf83a03ce8" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
<!-- End Mailchimp Signup Form -->