{%- assign blockId = block.id -%}
{% if product %}
{%- assign blockId = block.id | append: product.id -%}
{% endif %}

<div class="index-section">
  <div class="page-width">

    <div class="grid">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        {% if block.settings.title != blank %}
        <div class="section-header">
          <h2 class="section-header__title">
            {{ block.settings.title }}
          </h2>
        </div>
        {% endif %}

        <div class="grid grid--small">
          <div class="grid__item medium-up--one-half">
            <div class="form-vertical">
              {% form 'contact' %}

              {% if form.posted_successfully? %}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
              {% endif %}

              {{ form.errors | default_errors }}

              <label for="ContactFormName-{{ blockId }}">{{ 'contact.form.name' | t }}</label>
              <input type="text" id="ContactFormName-{{ blockId }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">

              <label for="ContactFormEmail-{{ blockId }}">{{ 'contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

              {% if block.settings.show_phone %}
              <label for="ContactFormPhone-{{ blockId }}">{{ 'contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              {% endif %}

              <label for="ContactFormMessage-{{ blockId }}">{{ 'contact.form.message' | t }}</label>
              <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

              <button type="submit" class="btn">
                {{ 'contact.form.send' | t }}
              </button>

              {% endform %}
            </div>
          </div>
          <!-- Contact Info -->
          <div class="grid__item medium-up--one-half">
            <br/>
            <div class="grid grid--small">
              <p class="grid__item medium-up--one-half text-center">
                <svg style="vertical-align: middle;" enable-background="new 0 0 100 100" height="20px" id="Layer_1" version="1.1" viewBox="0 0 100 100" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><defs><rect height="100" id="SVGID_1_" width="100"></rect></defs><path d="M95,49.247c0,24.213-19.779,43.841-44.182,43.841c-7.747,0-15.025-1.98-21.357-5.455L5,95.406   l7.975-23.522c-4.023-6.606-6.34-14.354-6.34-22.637c0-24.213,19.781-43.841,44.184-43.841C75.223,5.406,95,25.034,95,49.247    M50.818,12.388c-20.484,0-37.146,16.535-37.146,36.859c0,8.066,2.629,15.535,7.076,21.611l-4.641,13.688l14.275-4.537   c5.865,3.851,12.891,6.097,20.437,6.097c20.481,0,37.146-16.533,37.146-36.858C87.964,28.924,71.301,12.388,50.818,12.388    M73.129,59.344c-0.273-0.447-0.994-0.717-2.076-1.254c-1.084-0.537-6.41-3.138-7.4-3.494c-0.993-0.359-1.717-0.539-2.438,0.536   c-0.721,1.076-2.797,3.495-3.43,4.212c-0.632,0.719-1.263,0.809-2.347,0.271c-1.082-0.537-4.571-1.673-8.708-5.334   c-3.219-2.847-5.393-6.364-6.025-7.44c-0.631-1.075-0.066-1.656,0.475-2.191c0.488-0.482,1.084-1.255,1.625-1.882   c0.543-0.628,0.723-1.075,1.082-1.793c0.363-0.717,0.182-1.344-0.09-1.883c-0.27-0.537-2.438-5.825-3.34-7.976   c-0.902-2.151-1.803-1.793-2.436-1.793c-0.631,0-1.354-0.09-2.076-0.09s-1.896,0.269-2.889,1.344   c-0.992,1.076-3.789,3.676-3.789,8.963c0,5.288,3.879,10.397,4.422,11.114c0.541,0.716,7.49,11.92,18.5,16.223   C63.2,71.177,63.2,69.742,65.186,69.562c1.984-0.179,6.406-2.599,7.312-5.107C73.398,61.943,73.398,59.792,73.129,59.344"></path></g></svg>
                &nbsp;<a class="contactbar-item-link" href="https://wa.me/4915146563151" title="Telefonnummer">0151 46563151</a>
              </p>
              <p class="grid__item medium-up--one-half text-center">
                <svg style="vertical-align: middle;" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M4.723 1a.631.631 0 0 0-.44.181L1.725 3.713C1.237 4.196 1 4.872 1 5.6c0 2.35 1.835 5.62 4.947 8.625C9.059 17.229 12.447 19 14.883 19c.754 0 1.455-.23 1.955-.7l2.622-2.469a.585.585 0 0 0 .007-.856l-4.144-4a.638.638 0 0 0-.861-.019l-2.13 1.888c-1.042-.6-1.995-1.28-2.81-2.07C8.696 9.978 8 9.065 7.377 8.07l1.955-2.063a.586.586 0 0 0-.019-.831l-4.144-4A.635.635 0 0 0 4.723 1zm.013 1.456L8.013 5.62 6.135 7.594a.583.583 0 0 0-.078.7c.723 1.226 1.568 2.348 2.584 3.331a15.637 15.637 0 0 0 3.45 2.5.64.64 0 0 0 .726-.081l2.046-1.813 3.277 3.163-2.17 2.043c-.233.22-.589.363-1.087.363-1.75 0-5.1-1.573-8.055-4.425S2.243 7.288 2.243 5.6c0-.481.15-.825.376-1.05l2.117-2.094z" fill-rule="evenodd"></path>
                </svg>
                &nbsp;<a class="contactbar-item-link" href="tel:08941327326" title="Telefonnummer">089 41327326</a>
              </p>
            </div>
            <p class="text-center">
              <svg style="vertical-align: middle;" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M18.339 3H1.665C.75 3 0 3.728 0 4.626v9.752C0 15.272.748 16 1.665 16h16.67c.917 0 1.665-.728 1.665-1.622V4.626C20.004 3.728 19.256 3 18.339 3zm-.45 1.085L9.998 10.57 2.115 4.085h15.774zM1.11 14.247V4.675l5.86 4.817-5.86 4.755zm.913.668l5.809-4.713 1.807 1.487a.57.57 0 0 0 .716 0l1.811-1.487 5.817 4.713H2.023zm16.871-.67l-5.863-4.753 5.863-4.82v9.572z" fill-rule="evenodd"></path>
              </svg>
              &nbsp;<a class="contactbar-item-link" href="mailto:service@uptodate.de" title="Kontakt">service@uptodate.de</a>
            </p>
            <p class="text-center">
              <svg style="vertical-align: middle;" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M.987 9.5A9.028 9.028 0 0 1 9.5.987v1.74h1V.987A9.028 9.028 0 0 1 19.013 9.5h-1.74v1h1.74a9.028 9.028 0 0 1-8.513 8.513v-1.74h-1v1.74A9.028 9.028 0 0 1 .987 10.5h1.74v-1H.987zM10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zM7.626 7.374l-.707.707L10 11.16l4.899-4.898-.707-.707L10 9.747 7.626 7.374z" fill-rule="evenodd"></path>
              </svg>
              &nbsp;<span title="Geschäftsinformation">Täglich 10 - 18 Uhr</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
