{% for compatibility in compatibilities %}
  <div class="compatible-rectangle">
    <div class="compatible-icon">
      {% case compatibility %}
        {% when 'Amazon Alexa' %}
          <img src="{{ 'alexa-icon.png' | asset_url }}"/>
        {% when 'Google Assistant' %}  
          <img src="{{ 'googleassistant-icon.svg' | asset_url }}"/>
        {% when 'Apple HomeKit' %}  
          <img src="{{ 'homekit-icon.png' | asset_url }}"/>
      {% endcase %}
    </div>
    <div class="compatible-text">
      <span class="compatible-with">Kompatibel mit</span><br /> 
      <span class="compatible-company">{{ compatibility }}</span>
    </div>    
  </div>
{% endfor %}