<section class="bundle">
  <div class="titles">
    <p class="newpdp-bundle-title">Erweitern Sie Ihre Hardware</p>
  </div>
  <div class="bundle-contents">
    {% for product_b in bundle %}
      {% assign product_id = product_b.product_id | plus: 0 %}
      {% assign product_data = collections['bundle'].products | where: 'id', product_id | first %} 
      {% for variant_b in product_data.variants %}
        <div class="bundle-row">
          <div class="checkbox-row">
            <input class="input-checkbox" type="checkbox" data-value="{{ variant_b.id }}" data-qty="1" id="bundle-{{ variant_b.id }}">
            <span>{{ product_data.title }}{% if variant_b.title != 'Default Title' %} - {{ variant_b.title }}{% endif %}</span>
          </div>
          <div class="price-row">
            {% if variant_b.compare_at_price > variant_b.price %}
              <span
                class="product__price compare-price">
                {{ variant_b.compare_at_price | money }}
              </span>
              <span class="product__price text-red">
                {{ variant_b.price | money }}
              </span>
            {% else %}  
              <span class="product__price">
                {{ variant_b.price | money }}
              </span>
            {% endif %}
          </div>  
        </div> 
      {% endfor %}
    {% endfor %}
  </div>
</section>