{% assign icons = shop.metafields.pdp.icons %}

{% if icons != blank %}
<section class="compatibility">
  <div class="compatibility_icons">
    {% assign counter = 1 %}
    {% for tag in pdpdescr.systemCompatibilities %}
    	{% if counter == 6 %}
    		{% break %}
    	{% endif %}
    	{% include 'product-template-description-icon', icons: icons, tag: tag %}
    	{% assign counter = counter | plus: 1 %}
    {% endfor %}
    {% for tag in pdpdescr.tagList %}
    	{% if counter == 6 %}
    		{% break %}
    	{% endif %}
    	{% include 'product-template-description-icon', icons: icons, tag: tag %}
    	{% assign counter = counter | plus: 1 %}
    {% endfor %}
  </div>
</section>
{% endif %}

<section class="summary">
  <h3>Produktdetails</h3>
  {{ pdpdescr.shortDescription }}
</section>

<section class="description">
  <div class="titles">
    {% for field in pdpdescr.longDescriptions %}
    	<h3 class="{% unless forloop.first %}un{% endunless %}selected" onclick="uptodate_shpc({{ forloop.index0 }});">{{ field | first }}</h3>
    {% endfor %}
  </div>
  <div class="contents" id="product_contents">
    {% for field in pdpdescr.longDescriptions %}
    	<div class="pcd" style="display: {% if forloop.first %}block{% else %}none{% endif %};">
        	{{ field | last }}
      	</div>
    {% endfor %}
  </div>
</section>