<div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %} small--hide">
  <div class="page-width">
    <div class="toolbar__content">
      {% if section.settings.toolbar_menu != blank %}
        <div class="toolbar__item toolbar__item--menu">
          <ul class="inline-list toolbar__menu">
          {% for link in toolbar_menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if section.settings.toolbar_social %}
        <div class="toolbar__item">
          {%- comment -%} ul copied in footer.liquid was in place of this one {%- endcomment -%}
          <ul class="inline-list toolbar__menu">
            <li><a href="https://uptodatenew.myshopify.com/pages/uber-uptodate">Angebot der  Versicherungskammer Bayern</a></li>
          </ul>
        </div>
      {% endif %}

      {% if settings.enable_currencies %}
        <div class="toolbar__item">
          {% include 'currency-picker', picker_id: 'header', currency_class: 'currency-picker--toolbar' %}
        </div>
      {% endif %}
    </div>

  </div>
</div>
