.pdpMobile {
 display: none;
}

p.availability {
  margin: 12px 0 16px 0;
  font-size: 14px;
  .bullet {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  .available {
    background-color: #2dde60;
  }
  .unavailable {
    background-color: #db1111;
  }
}

div.cart_button_info {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-size: 0.88rem;
  line-height: 1.5rem;
  margin-top: 12px;
  img {
    vertical-align: middle;
  }
  .warranty {
    img { height: 24px; }
  }
  .payments {
    span {
      margin: 0 8px 0 1rem;
    }
    text-align: right;
  }
}

section.compatibility {
  background-color: #fafafa;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

.compatibility_icons {
  margin: auto;
  display: inline-block;
}

.compatibility_icons > div {
  width: 200px;
  display: inline-block;
  text-align: center;
}

.compatibility_icons > div > img {
  border: solid 1px #e5e5e5;
  border-radius: 1.5rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  margin: auto;
}

.compatibility_icons > div > p {
  margin: 0;
}

section.summary {
  display: grid;
  grid-template-areas: "title title"
    ". .";
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
}
section.summary > h3 {
  grid-area: title;
  text-align: center;
  margin: 40px 0;
  font-size: 32px;
}

section.summary > ul {
  padding: 0;
  align-self: center;
  margin-bottom: 0;
}

section.summary > ul > li {
  list-style: none;
  padding-left: 40px;
  line-height: 28px;
  background-image: url(//cdn.shopify.com/s/files/1/0273/2910/1902/t/6/assets/v.png?v=744296475795612142);
  background-repeat: no-repeat;
}

section.summary > ul > li ~ li {
  margin-top: 24px;
}

section.description {
  margin-top: 42px;
  display: grid;
  grid-template-areas: "titles"
    "contents";
}

section.description img.description_image {
  float: right;
  max-width: 50%;
}

section.description div.titles {
  grid-area: titles;
  border-bottom: solid 1px lightgray;
}

section.description div.titles h3 {
  display: inline-block;
  margin: 0.5rem 1rem -1px 1rem;
  user-select: none;
  line-height: 24px;
  font-size: 20px;
  padding-bottom: 16px;
}

section.description div.titles h3:first-child {
  margin-left: 0;
}

section.description div.titles h3.selected {
  font-weight: bold;
  border-bottom: solid 3px black;
}

section.description div.contents {
  grid-area: contents;
  margin: 1rem 0;
}

#product_contents img {
  float: right;
}

.product-compatible {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  .compatible-rectangle {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    margin-bottom: 16px;
    
    // For three dives width calculation and reduce maring then divide by number of divs
    @media screen and (min-width: 1224px) {
      width: calc((100% - 32px) / 3);
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    .compatible-icon{
      img{
        max-width: 24px;
        vertical-align: middle;
      }
    }

    .compatible-text {
      line-height: normal;
      padding-left: 8px;
      
      .compatible-company {
        font-size: 14px;
        font-weight: 500;
        color: #203345;
        font-weight: bold;
        line-height: 1.43;
      }
    
      .compatible-with {
        font-size: 12px;
        color: #a0a0a0;
        line-height: 1.33;
      }
    }
  }
}




