p.availability {
  margin: 12px 0 16px 0;
  font-size: 14px;
  .bullet {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  .available {
    background-color: #2dde60;
  }
  .unavailable {
    background-color: #db1111;
  }
}

div.cart_button_info {
  font-size: 0.88rem;
  line-height: 1.5rem;
  margin-top: 12px;
  img {
    vertical-align: middle;
  }
  .warranty {
  	text-align: center;
    img { height: 24px; }
  }
  .payments {
  	text-align: center;
    span {
      display: block;
      margin-bottom: 9px;
    }
    img {
      margin: 0 1px;
    }
  }
}

section.compatibility {
  background-color: #fafafa;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

.compatibility_icons {
  margin: auto;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}

.compatibility_icons > div {
  width: 155px;
  display: inline-block;
  text-align: center;
}

.compatibility_icons > div > img {
  border: solid 1px #e5e5e5;
  border-radius: 1.5rem;
  background-color: white;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  margin: auto;
}

.compatibility_icons > div > p {
  margin: 0;
}

section.summary {
  display: grid;
  margin: 2rem 0;
}

section.summary > h3 {
  text-align: center;
  margin: 2rem 0;
}

section.summary > ul {
  padding: 0;
  align-self: center;
  margin-bottom: 0;
}

section.summary > ul > li {
  list-style: none;
  padding-left: 40px;
  line-height: 28px;
  background-image: url({{ 'v.png' | asset_url }});
  background-repeat: no-repeat;
}

section.summary > ul > li ~ li,
section.summary > ul ~ ul {
  margin-top: 24px;
}

section.description {
  display: none;
}

.product-compatible {
  display: flex;
  justify-content: center;

  .compatible-rectangle {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    text-align: center;

    &:not(:first-child) {
      margin-left: 9px;
    }

    .compatible-icon{
      padding-top: 10px;
    }

    .compatible-text {
      line-height: normal;

      .compatible-company {
        font-size: 14px;
        font-weight: 500;
        color: #203345;
        font-weight: bold;
      }
    
      .compatible-with {
        font-size: 12px;
        color: #a0a0a0;
      }
    }
  }

  
}