<article class="page">
  <div class="mailchimp-page-content rte">
    {{ page.content }}
    <div class="mailchimpthankyoutext text-center">
    <h1>Willkommen bei uptodate!</h1>

    <p>Schön, dass Du Dich für unseren uptodate Newsletter angemeldet hast! Ab sofort kannst Du Dich auf einen regelmäßigen uptodate Newsletter mit spannenden Produktneuheiten, attraktiven Rabatten und Aktionen freuen</p>
      <p><center><strong>Dein uptodate Team</strong></center></p>
      <div><a class="thankyoumailchimpbtn" href="https://www.uptodate.de/">Jetzt Neuheiten entdecken</a></div>
    </div>
  </div>
</article>
