<div class="page-width page-content">

  {%- include 'breadcrumbs' -%}

  <div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
      <style>
        .gg { display: grid; grid-template-columns: 1fr;}
        .g1 { display: grid; grid-template-columns: 1fr 1fr;}
        .g2 { padding: 1rem 0; text-align: center; }
        @media only screen and (min-width: 769px) {
          .gg { grid-template-columns: 1fr 1fr; }
        }
      </style>
      <div class="rte rte--nomargin gg">
        <!-- rte -->
        {%- assign last_letter = '' -%}
        {%- assign counter = 0 -%}
        {%- for vendor in shop.vendors -%}

        {%- assign current_letter = vendor | slice: 0 | upcase -%}

        {%- if current_letter != last_letter -%}
        {%- case counter -%}
        {%- when 0 -%}
        <!-- 0 -->
        <div class="g1">
          <div class="g2">
            {%- when 1 -%}
            <!-- 1 -->
          </div>
          <div class="g2">
            {%- when 2 -%}
            <!-- 2 -->
          </div>
        </div>
        <div class="g1">
          <div class="g2">
            {%- when 3 -%}
            <!-- 3 -->
          </div>
          <div class="g2">
            {%- when 4 -%}
          </div>
        </div>
        <div class="g1">
          <div class="g2">
            {%- assign counter = 0 -%}
            {%- endcase -%}
            <h2>{{ current_letter | upcase }}</h2>
            {%- assign last_letter = current_letter | upcase -%}
            {%- assign counter = counter | plus: 1 -%}
            {%- endif -%}
            <p>{{ vendor | link_to_vendor | replace_first: '/vendors?q=', '/' }}</p>
            {%- if 0 == 1 -%}
          </div>
        </div>
        {%- endif -%}
        {%- endfor -%}
        <!-- rte END -->
      </div>
    </div>
  </div>

</div>
